*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  background: #141a32;
}

header{
  width: 100%;
  height: 80px;
  background-color: #141a32;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 22pt;
  align-items: center;
  z-index: 20;
  position: fixed;
  top: 0;
}

header>h1{
  cursor: default;
  font-size: 150%;
}

header>a{
  text-decoration: none;
  color: white;
  font-size: 18pt;
}

header>a:hover{
  color: #ffe100;
}

.active {
  color: #ffe100 !important;
}

.active_genero {
  color: #ffe10099 !important;
}

header>hr{
  height: 40px;
}

header> .filterSearch{
  width: 200px;
  height: 45px;
  position: relative;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgba(137, 137, 137, 0.308);
}

.filterSearch>i{
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  color: rgba(255, 255, 255, 0.587);
  top: 50%;
  left: 10%;
  font-size: 12pt;
  cursor: pointer;
}

.filterSearch>input{
  width: 80%;
  height: 100%;
  position: absolute;
  left: 40px;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 15pt;
}

.containers {
  width: 85%;
  /* centrar */
  justify-items: center;
  padding: 30px;
  padding-bottom: 10px;
  background-color: #0f121d;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.btns>button{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #ffe100;
  color: #141a32;
  font-size: 15pt;
  cursor: pointer;
  margin: 10px;
}

.btns>button:hover{
  background-color: #141a32;
  color: #ffe100;
}

.btns .disabled{
  /* Opaca */
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #141a32;
  color: #ffe100;
}

.btns>#contadorPag{
  font-size: 15pt;
  color: white;
}


main{
  display: flex;
  top: 125px;
  width: 100%;
  padding-top: 80px;
}

.genderFilter{
  width: 100%;
  margin: 25px;
}

.genderFilter>h3{
  font-size: 2vh;
}


.genderFilter>li{
  width: auto;
  font-size: 13pt;
  margin: 20px 0 20px 20px;
  color: #cccccc;
}

.genderFilter>li:hover{
  cursor: pointer;
}

.lnfilter{
  width: 90%;
  margin: 10px;
  border-color: #cccccc22;
}

.yearFilter{ 
  width: 85%;
  margin: 20px;
}

.yearFilter .yearsList{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.yearFilter>h3{
  font-size: 2vh;

}

.yearsList>li{
  width: auto;
  font-size: 13pt;
  margin: 20px 0px 12px 18px;
}

.yearsList>li:hover{
  cursor: pointer;
}

.sectionFilter{
  color: white;
  width: 15%;
  background-color: #0d132b;
  min-height: 79vh;
}

.text-busqueda{
  font-size: 15pt;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-busqueda a{
/* Colorido */
  color: #ffe100;
}

.containerMovies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.error{
  width: 100%;
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50pt;
  color: white;
}

.target{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 40px;
  color: white;
  transition: all 300ms;
}

.target:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.target .imageMovie{
  width: 100%;
  height: 95%;
  object-fit: cover;
  border-radius: 8%;
}

.target .yearMovie{
  width: 50px;
  background-color: #0179fc;
  position: absolute;
  transform: translate(-50% -50%);
  right: 8%;
  top: 85%;
  font-size: 15pt;
  text-align: center;
  border-radius: 20%;
}

.target .nameMovie{
  width: 100%;
  text-align: center;
  font-size: 15pt;
  margin: 0;
}

.footerSeccion{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #141a32;
  color: white;
  padding: 40px 15px 40px 15px;
}

.footerSeccion .footerInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerSeccion .footerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  margin-right: 30px;
  width: 220px;
  height: 100px;

}

.footerSeccion .footerInfo>.one{
  color: #7bd828;
}

@media screen and (max-width: 1024px){

}

/* ------------------------------------------------ */

#cargando{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: 50% 50% no-repeat rgba(44, 44, 44, 0.521);
  opacity: .8;
}

.icono{
  /* centrar */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border: 10px solid rgba(228, 228, 228, 0.959);
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes girar {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

/* MODAL */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #000;
  border-radius: 15px;
  padding: 1em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.modal__title{
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
}

.modal__paragraph{
  margin-bottom: 10px;
  color : #fff;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.8;
}

.modal__img{
  width: 90%;
  max-width: 300px;
}

.modal__close{
  text-decoration: none;
  color: #fff;
  background-color: #141a32;
  padding: 0.5em 1em;
  margin-bottom: 15px;
  border: 1px solid ;
  border-radius: 10px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal__close:hover{
  color: #000;
  background-color: #fff;
}

.modal__close:active{
  transform: scale(.9);
}

.modal__details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__votos,
.modal__date,
.modal__popularity
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.fa-solid {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 0 10px;
}

.fa-star{
  color: #ffe100;
}

.fa-calendar-alt{
  color: #fff;
}

.fa-chart-line{
  color: #fff;
}



.modal__popularity--p{
  color: #fff;
}

.modal__date--p{
  color: #fff;
}

.modal__votos--p{
  color: #fff;
}



@media (max-width:800px) {
  .modal__container{
      padding: 2em 1.5em;
  }

  .modal__title{
      font-size: 2rem;
  }
}