*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  position: relative;
}

header{
  width: 100%;
  height: 80px;
  background-color: #141a32;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 22pt;
  align-items: center;
  z-index: 20;
  position: fixed;
  top: 0;
}

header>h1{
  cursor: default;
  font-size: 150%;
}

header>a{
  text-decoration: none;
  color: white;
  font-size: 18pt;
}

header>a:hover{
  color: #ffe100;
}

.active {
  color: #ffe100 !important;
}

header>hr{
  height: 40px;
}

header> .filterSearch{
  width: 200px;
  height: 45px;
  position: relative;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgba(137, 137, 137, 0.308);
}

.filterSearch>i{
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  color: rgba(255, 255, 255, 0.587);
  top: 50%;
  left: 10%;
  font-size: 12pt;
  cursor: pointer;
}

.filterSearch>input{
  width: 80%;
  height: 100%;
  position: absolute;
  left: 40px;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 15pt;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;;
}

.containers {
  width: 85%;
    /* centrar */
    justify-items: center;
    padding: 30px;
    padding-bottom: 100px;
      background-color: #0f121d;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
}

main{
  display: flex;
  top: 125px;
  width: 100%;
  padding-top: 80px;
}

.genderFilter{
  width: 100%;
  margin: 25px;
}

.genderFilter>h3{
  font-size: 2vh;
}


.genderFilter>li{
  width: auto;
  font-size: 13pt;
  margin: 20px 0 20px 20px;
  color: #cccccc;
}

.genderFilter>li:hover{
  cursor: pointer;
}

.lnfilter{
  width: 90%;
  margin: 10px;
  border-color: #cccccc22;
}

.yearFilter{
  width: 100%;
  margin: 20px;
}

.yearFilter .yearsList{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.yearFilter>h3{
  font-size: 2vh;

}

.yearsList>li{
  width: auto;
  font-size: 13pt;
  margin: 20px 0px 12px 18px;
}

.yearsList>li:hover{
  cursor: pointer;
}

.sectionFilter{
  color: white;
  width: 15%;
  background-color: #0d132b;
}

.containerMovies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.error{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50pt;
  color: white;
}

.target{
  position: relative;
  width: 200px;
  height: 300px;
  margin: 40px;
  color: white;
  transition: all 300ms;
}

.target:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.target .imageMovie{
  width: 100%;
  height: 95%;
  object-fit: cover;
  border-radius: 8%;
}

.target .yearMovie{
  width: 50px;
  background-color: #0179fc;
  position: absolute;
  transform: translate(-50% -50%);
  right: 8%;
  top: 85%;
  font-size: 15pt;
  text-align: center;
  border-radius: 20%;
}

.target .nameMovie{
  width: 100%;
  text-align: center;
  font-size: 15pt;
  margin: 0;
}

.footerSeccion{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #141a32;
  color: white;
  padding: 40px 15px 40px 15px;
}

.footerSeccion .footerInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerSeccion .footerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  margin-right: 30px;
  width: 220px;
  height: 100px;

}

.footerSeccion .footerInfo>.one{
  color: #7bd828;
}

@media screen and (max-width: 1024px){

}

/* ------------------------------------------------ */

#cargando{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: 50% 50% no-repeat rgba(44, 44, 44, 0.521);
  opacity: .8;
}

.icono{
  /* centrar */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border: 10px solid rgba(228, 228, 228, 0.959);
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes girar {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}